html {
  height: 100.1%;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  color: #7F8B97;
}

.muted {
  color: #B2BABB;
}

.m0 {
  margin: 0 !important;
}

.nav-centered {
  display: inline-block;
}

.striped-head,
.superheader {
  color: #646C7B;
}

.striped-head {
  text-align: center;
  background: transparent url(/img/striped-head-bg.png) center repeat-x;
}
  .striped-head > :first-child {
    position: relative;
    display: inline-block;
    padding: 0 1em;
    background-color: #fff;
  }
    .striped-head .subhead {
      font-size: 14px;
      position: absolute;
      top: -2em;
      left: 0;
      display: inline-block;
      width: 100%;
    }
  .bullet {
    padding: 8px;
    background: transparent url(/img/bullet.png) center no-repeat;
  }

.nav-list {
  padding-right: 0;
  padding-left: 20px;
}

#header,
#footer {
  background-color: #fff;
}

#login-bar {
  background-color: #2C3E50;
}

#choose-city-bar {
  background-color: #16A085;
  color: #fff;
}

#header {
  font-size: 17px;
  padding: 2em 0;
}
  .head-nav {
    position: relative;
  }
    .head-nav .nav {
      margin: 0;
    }
      .head-nav .nav a {
        color: #19BB9B;
        -webkit-border-radius: 9000px;
        -moz-border-radius: 9000px;
        border-radius: 9000px;
        text-decoration: underline;
        background-color: transparent;
        font-size: 17px;
      }
      .head-nav .nav .active a {
        background-color: #7F8B97;
        color: #fff;
        text-decoration: none;
      }
    .mega-basket {
      position: absolute;
      top: -2em;
      left: 40%;
      background: transparent url(/img/mega-basket-bg.png) center no-repeat;
      width: 220px;
      height: 146px;
      text-align: center;
    }
      .mega-basket .city-chooser {
        display: block;
        line-height: 28px;
        color: #fff;
        font-size: 15px;
      }
      .mega-basket .logo {
        display: block;
        height: 65px;
      }
      .mega-basket .basket {
        display: inline-block;
        height: 49px;
        width: 50%;
        background: transparent url(/img/basket-bg.png) center no-repeat;
        font-size: 14px;
        color: #fff;
        line-height: 20px;
      }
        .mega-basket .basket .counter {
          display: inline-block;
          background-color: #E74C3C;
          border-color: #E74C3C;
          padding: 0 7px;
          position: relative;
          left: 24px;
          top: 6px;
        }

#content {
  background: #ECF0F5 url(/img/body-bg.png) top left repeat;
  padding-bottom: 3em;
  padding-top: 5em;
}

.nav-pills > li {
  margin-right: .7em;
}
  .nav-pills > li > a {
    color: #646C7B;
    -webkit-border-radius: 9000px;
    -moz-border-radius: 9000px;
    border-radius: 9000px;
    font-size: 15px;
    background-color: #fff;
    padding: .6em 1em;
  }
  .nav-pills > li.active > a {
    background-color: #7F8B97;
  }

.mega-cells {
}
  .mega-cells .cell {
    width: 330px;
    margin: 5px;
    margin-left: 25px;
    background-repeat: no-repeat;
    height: 350px;
    position: relative;
  }
    .mega-cells .cell .description {
      background-color: rgba(44,62,80,.78);
      color: #fff;
      font-size: 19px;
      position: absolute;
      bottom: 60px;
      padding: 15px;
      padding-bottom: 8px;
      overflow: hidden;
      line-height: 24px;
    }
      .mega-cells .cell .description .description-short,
      .mega-cells .cell .description .description-full {
        overflow: hidden;
        text-shadow:
          0px 0px 6px rgb(19,27,34),
          0px 0px 6px rgb(19,27,34)
        ;

        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
      }
      .mega-cells .cell .description .description-full {
        max-height: 0;
      }
      .mega-cells .cell:hover .description-full {
        max-height: 500px;
      }
      .mega-cells .cell .description .counters {
        font-size: 14px;
        letter-spacing: -1px;
        margin-top: 20px;
      }
        .mega-cells .cell .description .counters:before {
          content: "";
          display: block;
          border-top: 1px solid #53565F;
          position: relative;
          top: -10px;
          width: 200%;
          left: -50%;
        }
        .mega-cells .cell .description .counters>span{
          display: inline-block;
          background: transparent url(/img/counters-eta-icon.png) left center no-repeat;
          padding-left: 25px;
          line-height: 27px;
          margin-left: 45px;
        }
        .mega-cells .cell .description .counters .eta {
          margin-left: 0;
          padding-left: 29px;
        }
        .mega-cells .cell .description .counters .comments {
          background-image: url(/img/counters-comments-icon.png);
        }
        .mega-cells .cell .description .counters .likes {
          background-image: url(/img/counters-likes-icon.png);
        }
    .mega-cells .cell .buy-me-faster {
      position: absolute;
      bottom: 0;
      background: #2C3E50 url(/img/buy-me-faster-bg.png) left center no-repeat;
      height: 60px;
      color: #fff;
      font-size: 31px;
      text-align: center;
      margin-left: 0;
      text-shadow: 0px 1px 1px #000;
    }
      .mega-cells .cell .buy-me-faster>div {
        line-height: 65px;
        letter-spacing: -4px;
      }
      .mega-cells .cell .buy-me-faster>div:first-child {
        margin-left: 3px;
      }
      .mega-cells .cell .buy-me-faster .discount {
        position: relative;
      }
        .mega-cells .cell .buy-me-faster .discount:before {
          content: "право на скидку";
          font-size: 13px;
          position: absolute;
          top: -23px;
          left: 7px;
          color: #B0DFD5;
          letter-spacing: normal;
        }
        .mega-cells .cell .buy-me-faster .discount .percent {
          font-size: 19px;
          position: relative;
          top: -8px;
          left: 6px;
        }
      .mega-cells .cell .buy-me-faster .price {
      }
        .mega-cells .cell .buy-me-faster .price .currency {
          font-size: 15px;
          position: relative;
          top: -11px;
          left: 8px;
          letter-spacing: normal;
        }
      .mega-cells .cell .buy-me-faster .buy {
        font-size: 17px;
        letter-spacing: normal;
        line-height: 57px;
        margin-left: 2px;
        width: 105px;
      }

#footer {
  padding-top: 3em;
  padding-bottom: 15em;
}
  .footer-navs {
    margin-top: 2em;
  }
    .footer-navs .nav {
      color: #7F8B97;
      font-size: 17px;
    }
      .footer-navs .nav-header {
        text-transform: none;
        font-size: 23px;
        color: #646C7B;
        margin-bottom: .7em;
      }
      .footer-navs .nav a {
        color: #7F8B97;
      }
  .footer-last {
    margin-top: 5em;
    font-size: 14px;
  }
    .who-we-are {
    }
    .money-we-accept {
    }
    .follow-the-white-rabbit {
      font-size: 15px;
      color: #7F8B97;
    }

.mega-border {
    box-shadow:
        0 0 0 1px #fff,
        0 0 0 2px #e3e3e3,
        0 0 0 3px #dbdbdb,
        0 0 0 4px #d0d0d0,
        0 0 0 5px #bfbfbf
    ;
    position: relative;
}
  .mega-border:after,
  .mega-border:before {
      position: absolute;
      display: block;
      top: -5px;
      left: -5px;
      height: 1px;
      width: 1px;
      background-color: #f3f3f3;
      content: "";
  }
  .mega-border:after {
      left: auto;
      right: -5px;
  }
  .mega-border.with-dot-shadows:before {
      box-shadow: 1px 1px 1px #ccc;
  }
  .mega-border.with-dot-shadows:after {
      box-shadow: -1px 1px 1px #ccc;
  }

.page {
  background-color: #fff;
  margin-top: 3em;
  padding: 50px 35px;
}
.page.with-grafon-zbs {
  padding-top: 382px;
}
  .page .striped-head {
    margin-top: 2em;
  }
  .page .striped-head:first-child {
    margin-top: 0;
  }
  .grafon-zbs {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
  }
    .grafon-zbs .second-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: right top;
    }
    .grafon-zbs .take-the-last {
      background: transparent url(/img/take-the-last-bg.png) center no-repeat;
      height: 110px;
      width: 110px;
      position: absolute;
      left: -25px;
      top: -35px;
      line-height: 1em;
      text-align: center;
      color: #fff;
      text-shadow: 0px 1px 1px #000;
    }
      .grafon-zbs .take-the-last span {
        display: block;
        padding-top: 2.3em;
      }
    .grafon-zbs .centrota {
      width: 320px;
      height: 311px;
      background: transparent url(/img/grafon-zbs-centrota-bg.png) center no-repeat;
      position: absolute;
      left: 35%;
      top: -21px;
      text-align: center;
      font-size: 50px;
      line-height: 1.7em;
    }
    .grafon-zbs .nizota {
      background: transparent url(/img/grafon-zbs-nizota-bg.png) left top repeat-x;
      height: 90px;
      margin-top: 290px;
      padding-top: 15px;
      padding-bottom: 18px;
      font-size: 25px;
      color: #fff;
    }
      .grafon-zbs .nizota div {
        border-right: 1px solid #3BAF99;
        float: left;
        position: relative;
        height: 47px;
        padding-top: 9px;
        background: transparent url(/img/counters-big-eta-icon.png) left center no-repeat;
      }
      .grafon-zbs .nizota .eta {
        width: 237px;
        margin-left: 84px;
        padding-left: 51px;
      }
        .grafon-zbs .nizota .eta:after {
          content: "до конца продажи купона";
        }
      .grafon-zbs .nizota .comments {
        width: 181px;
        margin-left: 80px;
        padding-left: 54px;
        background-image: url(/img/counters-big-comments-icon.png);
      }
        .grafon-zbs .nizota .comments:after {
          content: "купона продано";
        }
      .grafon-zbs .nizota .likes {
        margin-left: 120px;
        padding-left: 56px;
        background-image: url(/img/counters-big-likes-icon.png);
        border-right: none;
      }
        .grafon-zbs .nizota .likes:after {
          content: "мне нравится";
        }
        .grafon-zbs .nizota .eta:after,
        .grafon-zbs .nizota .comments:after,
        .grafon-zbs .nizota .likes:after {
          font-size: 17px;
          color: #B0DFD5;
          display: block;
          position: relative;
          top: -6px;
        }

.terms-list {
  font-size: 15px;
}
  .terms-list div {
    position: relative;
  }
    .terms-list ul {
      list-style: none;
      margin-left: 30px;
    }
      .terms-list li {
        margin-top: 1em;
      }
      .terms-list li:first-child {
        margin-top: 0;
      }
      .terms-list li:before {
        content: "— ";
        position: absolute;
        left: 0;
      }
